$primary-color: #fafafa;

.App {
  text-align: center;
  background-color: $primary-color;
}

.header {
  .header-content {
  }
}


.notification-wrapper {
  position: absolute;
  top: 57px; // Increase this value to lower the notification
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; // This makes sure the notification appears above other elements
}

.main-content {
  background-color: $primary-color;
  display: flex;
  height: calc(100vh - 100px); // Adjust this value based on the height of your Navbar
  flex-direction: column;
  max-width: 1200px; // This sets the max width
  width: 100%; // This makes the content take up the full width of the main-content div
  margin: 5px auto; // This adds 20px margin in all directions and centers the content within the max width
  justify-content: flex-start; 
  align-items: flex-start;
  text-align: left;

}

.main-content-center {
  background-color: $primary-color;
  display: flex;
  height: calc(100vh - 100px); // Adjust this value based on the height of your Navbar
  flex-direction: column;
  max-width: 1200px; // This sets the max width
  width: 100%; // This makes the content take up the full width of the main-content div
  margin: 5px auto; // This adds 20px margin in all directions and centers the content within the max width
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.move-enter {
  transform: translateY(-20px);
}

.move-enter-active {
  transform: translateY(0);
  transition: transform 300ms;
}

.move-exit {
  transform: translateY(0);
}

.move-exit-active {
  transform: translateY(-20px);
  transition: transform 300ms;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
